{%block content%}

  <style>
    table, th, td {border: 1px solid black;border-collapse: collapse;text-align: center; vertical-align: middle;}
  </style>

  <h3>Staffs of  Shift Name</h3>

  {% if staffByShiftList %}
    <table style="width:50%">
      <tr>
        <th> Name </th>
        <th> Department </th>
        <th> D O J </th>
        <th> Allot duty </th>
      </tr>
      {% for s in staffByShiftList %}
      <tr>
        <td> {{ s.name }} </td>
        <td> {{ s.department }} </td>
        <td> {{ s.dateofJoining }} </td>
        <td> <a href="{% url 'allotDutyMain' ttid=ttid shiftid=shiftid staffid=s.id %}"> Allot Staffs </a></td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No Timetables, Create a new one</p>
    <p>Timetables will be listed here</p>
  {% endif %}      
{% endblock %}