{% block content %}
<style>
    table, th, td {border: 1px solid black;border-collapse: collapse;text-align: center; vertical-align: middle;}
  </style>
<h2>The New College (Autonomous) </h2>
<h3>{{ timetableName }}</h3>


{% if staffList %}
{% for s in staffList %}
<p> Prof. Mr {{ s.name }} of the {{ s.department }} department is requested to invidulate for the following dates </p>
 <table style="width:50%">
 	<tr>
 		<th></th>
 	</tr>
    <tr>
     	<td></td>
    </tr>
 </table>
 {% endfor %}
{% else %}
<p>No Staffs are alloted for this time table</p>
{% endif %}
{% endblock %}