{% block content %}
<style>
    table, th, td {border: 1px solid black;border-collapse: collapse;text-align: center; vertical-align: middle;}
  </style>
<h2>The New College (Autonomous) </h2>
<h3>{{ timetableName }}</h3>


{% if staffList %}
    {% for s in staffList %}
        <p> Prof. Mr {{ s.name }} of the {{ s.department }} department the following dates </p>
        {% for i in qset %}
            {% if i.id == s.id and i.exams__timetable_id == ttid %}
                <ul> {{ i.exams__dateOfExam }} </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
<p>No Staffs are alloted for this time table</p>
{% endif %}
{% endblock %}