{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{%block content%}
<h1>Time Table Details</h1>
<br>
<a href="{% url 'add_exam' ttid=ttid %}" class="button"><h2> Add Exams </h2> </a>
<h2>{{ timetableName }}</h2>
{% if examDateList %}
	<p>Exam Dates</p>
	<table>
		<tr>
        	<th> Date </th>
        	<th> Session </th>
        	<th> Report </th>
        	<th> Delete </th>
    	</tr>
		{% for e in examDateList %}
		<tr>
			<td> {{ e.dateOfExam }} </td>
			<td> {{ e.session }} </td>
			<td> <a href="{% url 'reportbyexam' ttid=ttid exid=e.id %}"> Report </a> </td>
			<td> <a href="{% url 'del_exam' ttid=ttid exid=e.id %}"> Delete </a> </td>
		{% endfor %}
	</table>
{% else %}
	<h3> No exams are added for this timetable </h3>
{% endif %}

{% endblock %}