
{%block content%}

  <style>
    table, th, td {border: 1px solid black;border-collapse: collapse;text-align: center; vertical-align: middle;}
  </style>

  <h1>Timetable List</h1>
  <a href="create/">Create a New Timetable</a>

  {% if timetable_list %}
    <table style="width:50%">
      <tr>
        <th>Short Name </th>
        <th>Long Name </th>
        <th>Details</th>
        <th>Detailed View (New)</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for t in timetable_list %}
      <tr>
        <td> {{ t.shortname }} </td>
        <td> {{ t.longName }} </td>
        <td> <a href="{{ t.get_details_url}}">Details</a> </td>
        <td> <a href="{{ t.get_detailedView_url}}">Detailed View</a> </td>
        <td> <a href="{{ t.get_update_url }}">Edit</a> </td>
        <td> <a href="{{ t.get_delete_url }}">Delete</a> </td>
        <td> <a href="{% url 'reportbystaff' t.id %}"> Report Staffs </a></td>
        <td> <a href="{% url 'allotDuty_SelectShift' t.id %}">Allot Staffs </a></td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No Timetables, Create a new one</p>
    <p>Timetables will be listed here</p>
  {% endif %}      
{% endblock %}