{%block content%}

 <h1>Timetable List</h1> 
 <a href="create/">Create a New Timetable</a>

    {% if timetable_list %}
    <ul>
      {% for t in timetable_list %}
      <li>
        <a href="{{ t.get_details_url}}">{{ t.shortname }}</a>
        {{t.longName}}
        <a href="{{ t.get_allot_staff_url}}">, Allot Staff</a>
        <a href="{{ t.get_update_url }}">, Edit</a>, 
        <a href="{{ t.get_delete_url }}">, Delete</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No Timetables, Create a new one</p>
      <p>Timetables will be listed here</p>
    {% endif %}      

{% endblock %}